name: arcore_flutter_plus
description: Updated Flutter plugin for ARCore SDK, Android platform to build new augmented reality experiences
version: 1.0.0
homepage: https://github.com/Muzammilsajid121/arcore_flutter_plus

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  vector_math: ^2.1.0
  meta: ^1.3.0
  equatable: ^2.0.3

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The androidPackage and pluginClass identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin:
    platforms:
      android:
        package: com.muzammil.arcore.flutter.plus
        pluginClass: ArcoreFlutterPlugin

